<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">

    <target name="tar-debug" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
         layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" encoding="UTF-8">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target xsi:type="File"
            name="tar-info"
            fileName="${basedir}/log-info/${date:format=yyyy-MM-dd}.txt"
            layout ="${longdate} ${message}" encoding="UTF-8"/>

    <target xsi:type="File"
            name="tar-error"
            fileName="${basedir}/log-error/${date:format=yyyy-MM-dd}.txt"
            layout ="${longdate} ${message} ${newline}" encoding="UTF-8"/>

  </targets>

  <rules>
    <logger name="debug" minlevel="Debug" writeTo="tar-debug"></logger>
    <logger name="info" minlevel="Info" writeTo="tar-info"></logger>
    <logger name="error" minlevel="Error" writeTo="tar-error"></logger>
  </rules>
</nlog>